 body {
    font-family: "Comfortaa";
     font-weight: 800;
     font-size: 1.5em;
    margin:0;    
    padding:0;
    background-image: url(../images/calculatrice_enfant-05.svg);
    width: auto;
    height: 90vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.corps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position:  relative;
    overflow: hidden;
    
    width: 66vw;
    max-width: 600px;
    height: 80%;
    
    background-color: #F9FBFF;
    border: 10px solid #3d3d3d;
    border-radius: 15px;
    }

 .clavier{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
     
    width: 100%;
    height: 70%;
     
    border-radius: 15px;
    padding: 2%;
    box-sizing: border-box;
    overflow: hidden;

}

.touche{
    width: 16%;
    height: 14%;
    box-sizing: border-box;
    padding-top: 2.5%;    
    text-align: center;
    border: 5px solid #E2E2E2;
    border-radius: 15px;
    margin: 0.25em;
}

input{
    margin-top: 2%;
    width: 92%;
    height: 25%;
    border: 5px solid #E2E2E2;
    border-radius: 15px;
}